<h3>Create New User</h3>

<form class="form-horizontal" [formGroup]="createUserForm" (ngSubmit)="onSubmit(createUserForm.value)">
    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="FirstName" formControlName="firstName" placeholder="Enter FirstName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="LastName">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="LastName" formControlName="lastName" placeholder="Enter lastName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pwd" formControlName="password" placeholder="Enter password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Gender">Gender:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Gender" formControlName="gender" placeholder="Gender">
        </div>
    </div>
    <div class="form-group">
            <label class="control-label col-sm-2" for="Address">Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Address" formControlName="address" placeholder="Address">
            </div>
        </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Role" >Role:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Role" formControlName="role" placeholder="Role">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>