<h1>User</h1>
<h3>
  <a [routerLink]="['/newuser']">Create New</a>
</h3>
<div class="row">
  <div class="col-md-12">
    <div >
      <table class="table table-bordered">
        <tr>
          <th>Firstname</th>
          <th>LastName</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Role</th>
          <th></th>
        </tr>
        <tr *ngFor="let user of users; index as userId">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.address}}</td>
          <td>{{user.contact}}</td>
          <td>{{user.email}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.address}}</td>
          <td>{{user.userType}}</td>
          <td style="padding-bottom: 5px;"><a class="btn btn-primary" [routerLink]="['/newuser',user.id]">Edit</a></td>
          <td style="padding-bottom: 5px;"><button class="btn btn-primary" (click)="deleteUser(user.id)">Delete</button></td>
        </tr>
      </table>
     <!-- <h3>{{user.firstName}} {{user.lastName}} {{user.address}} {{user.contact}} {{user.email}}</h3>  -->
    </div>
  </div>

</div>
<div class="row">

</div>
<!-- {id:1,firstName:'raj',lastName:'tandukar',username:'raj',address:'ktm',contact:9865324598,email:'test@test.com',gender:'M',password:'123',userType:'admin',addedBy:'admin',addedDate:new Date}, -->
