<h1>Category</h1>
<h3>
  <a [routerLink]="['/create-category']">Create New</a>
</h3>
<div class="row">
  <div class="col-md-12">
    <div >
      <table class="table table-bordered">
        <tr>
          <th>id</th>
          <th>title</th>
          <th>description</th>
          <th>added_date</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let category of categories; index as categoryId">
          <td>{{category.id}}</td>
          <td>{{category.title}}</td>
          <td>{{category.description}}</td>
          <td>{{category.added_date}}</td>
          <td style="padding-bottom: 5px;"><a class="btn btn-primary" [routerLink]="['/create-category',category.id]">Edit</a></td>
          <td style="padding-bottom: 5px;"><button class="btn btn-primary" (click)="deleteUser(category.id)">Delete</button></td>
        </tr>
      </table>
     <!-- <h3>{{user.firstName}} {{user.lastName}} {{user.address}} {{user.contact}} {{user.email}}</h3>  -->
    </div>
  </div>

</div>
<div class="row">

</div>
<!-- {id:1,firstName:'raj',lastName:'tandukar',username:'raj',address:'ktm',contact:9865324598,email:'test@test.com',gender:'M',password:'123',userType:'admin',addedBy:'admin',addedDate:new Date}, -->
