  <ul class="nav nav-tabs">
    <li role="presentation" *ngFor='let menu of mainMenus'>
        <a routerLink="{{menu}}">
            <!-- <a *ngFor='let menu of mainMenus'>| -->
            {{menu}} 
          </a>
    </li>
    
  </ul>
  
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>