<h3>Create New Product</h3>

<form class="form-horizontal" [formGroup]="createProductForm" (ngSubmit)="onSubmit(createProductForm.value)">
    <div class="form-group">
        <label class="control-label col-sm-2" for="Name">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" formControlName="name" placeholder="Enter Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Category">Category:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Category" formControlName="category" placeholder="Enter Category">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Description" formControlName="description" placeholder="Enter Description">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Rate">Rate:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Rate" formControlName="rate" placeholder="Enter Rate">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>