<h1>Product</h1>
<h3>
  <a [routerLink]="['/createproduct']">Create New</a>
</h3>
<div class="row">
  <div class="col-md-12">
    <div >
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>rate</th>
          
          <th></th>
        </tr>
        <tr *ngFor="let product of products; index as productId">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.description}}</td>
          <td>{{product.rate}}</td>
          
          <td style="padding-bottom: 5px;"><a class="btn btn-primary" [routerLink]="['/createproduct',product.id]">Edit</a></td>
          <td style="padding-bottom: 5px;"><button class="btn btn-primary" (click)="deleteProduct(product.id)">Delete</button></td>
        </tr>
      </table>
     <!-- <h3>{{user.firstName}} {{user.lastName}} {{user.address}} {{user.contact}} {{user.email}}</h3>  -->
    </div>
  </div>

</div>
<div class="row">

</div>
<!-- {id:1,firstName:'raj',lastName:'tandukar',username:'raj',address:'ktm',contact:9865324598,email:'test@test.com',gender:'M',password:'123',userType:'admin',addedBy:'admin',addedDate:new Date}, -->
