<h3>Create New Category</h3>

<form class="form-horizontal" [formGroup]="createCategoryForm" (ngSubmit)="onSubmit(createCategoryForm.value)">
    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Title:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Title" formControlName="title" placeholder="Enter Title">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Description" formControlName="description" placeholder="Enter Description">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>